body {
        font-size: 90%;
        font-family: verdana, helvetica, arial, sans-serif;
	margin: auto;
	max-width: 980px;
}

img {
        border: none;
}

h2, h3 {
        font-weight: normal;
}

div.top br {
	margin-bottom: 0.5em;
}

a, a:visited {
        color: black;
}

img#profilepic {
	float: right;
}

div.content, div#top {
        margin: 4em 5em 0em 5em;
}

div.content:last-child {
	margin-bottom: 4em;
}


div.flickrmore {
	display: none;
}

a#flickrmorelink {
	font-size: 90%;
}

div.flickrcomment {
	width: 150px;
	float: left;
}

div#flickrcontainer {
	padding-top: 1px; /* stops jquery slide bump/jump */
}

div#bloginner {
	background: transparent url(http://www.blogblog.com/dots/bg_dots2.gif) repeat scroll -100px -100px;
	font-size: 90%;
}

div#blogouter {
	background: #FFFFFF url(http://www.blogblog.com/dots/bg_dots.gif) repeat scroll 0% 0px;
	padding: 50px;
	padding-bottom: 40px;
	max-width: 700px;
	margin: auto;
}

div#bloginner a {
	color: #996;
	text-decoration: none;
}

div#bloginner h3 {
	font-family: georgia, serif;
	font-weight: bold;
	background: transparent url(http://www.blogblog.com/dots/bg_post_title.gif) no-repeat scroll 0 0.25em;
	padding-left: 45px;
}

div#bloginner div.postdate {
	border-bottom: 1px dotted #99BB99;
	color: #663;
	letter-spacing: 0.3em;
	font-family: georgia, serif;
	font-size: 90%;
}

div#bloginner div.post {
	margin-bottom: 0.75em;
}

div#bloginner div.post a {
	text-decoration: underline;
}

div#twittercontainer {
	border: 2em solid #C0DEED;
	padding: 0.5em 1em;
}

div.twitterpost {
	padding: 1em;
	border-bottom: 1px solid #EEEEEE;
	font-family: 'Lucida Grande', sans-serif;
}

div.twitterpost:last-child {
	border: none;

}

a.twitterpost {
	color: #2276BB;
	text-decoration: none;
}

a.twitterpost:hover {
	text-decoration: underline;
}

a.twitterdate {
	color: #999999;
	font-size: 70%;
	text-decoration: none;
}

a.twitterdate:hover {
	text-decoration: underline;
}

div.twitterpost, div.twitterdate {
	background: white;
}

div#facebookcontainer {
	border-top: 2em solid #3B5998;
	padding: 1em 2em;
}

img.facebooklink {
	float: left;
	margin: 0.5em;
}

div.facebookstatus {
	white-space: pre-line;
}

div.facebooklink, div.facebookstatus {
	margin-bottom: 2px;
	background-color: #FFF;
	font-family: 'Lucida Grande', sans-serif;
	padding: 1em;
	font-size: 90%;
	border-bottom: 1px solid #EEE;
}

div.facebooklinkdesc, div.facebooklinksite, div.facebookdate a {
	color: #808080;
	margin: 0.2em;
	text-decoration: none;
}

div.facebookdate {
	margin: 0.2em;
}

div.facebooklinkcomment {
	margin-bottom: 0.2em;
}

a.facebooklink {
	color: #3B5998;
	text-decoration: none;
	font-weight: bold;
}

div#facebook a:hover {
	text-decoration: underline;
}

div.facebookcomments {
	background-color: #ECEFF5;
	padding: 0.4em;
}

div.facebookcomments a {
	background-image: url("https://s-static.ak.facebook.com/rsrc.php/v1/y9/r/M1QAaMx-pAh.png");
	background-repeat: no-repeat;
	background-position: -169px -91px;
	color: #3B5998;
	display: block;
	font-size: 90%;
	text-decoration: none;
	padding-left: 2em;
	height: 16px;
}

div.clear {
	clear: both;
}

.content 
{
	position: relative;
}

span.control
{
	font-size: small;
	vertical-align: middle;
	left: -2em;
	top: -0.1em;
	position: relative;
	cursor: pointer;
}

h2 a
{
	left: 0;
}

#geekoutcontainer
{
	border: 2em solid #F2D98D;
	padding: 0.5em 1.5em;
}

#geekoutcontainer a
{
	color: #315485;
	font-weight: bold;
	text-decoration: none;
}

#geekoutcontainer .postdate
{
	margin-top: 1em;
	border-bottom: 1px dotted #315485;
	font-style: italic;
}

#geekoutcontainer h3
{
	margin: 1em 0;
}


